In [2]:
# Permet de tout executer au lancement du notebook + conserver le notebook actif pendant 2h
from IPython.display import Javascript
import sys
if ".." not in sys.path:
    sys.path.append("..")
from masquer import *
Javascript("""
function repeter(){
IPython.notebook.kernel.execute("a=1");
}
// execute a = 1 en python toutes les 8 minutes pendant 2h
let timerId = setInterval(() => repeter(), 4800);
setTimeout(() => { clearInterval(timerId); alert('fin de cession'); }, 7200000);

// Supprimer la taille limite pour la sortie d'une cellule
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
};
IPython.notebook.kernel.execute("url = '" + window.location + "'");

// Exécuter toutes les cellule du notebook
    require(
        ['base/js/namespace', 'jquery'], 
        function(jupyter, $) {
            
                
                jupyter.actions.call('jupyter-notebook:run-all-cells-below');
                jupyter.actions.call('jupyter-notebook:save-notebook');
                Jupyter.actions.call('jupyter-notebook:hide-header')

        }
    );""")

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
HTML("""<style>
h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: red;
  
}
ol {
  list-style-position: inside;
  margin-left: 1em;
  list-style-position: outside;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  color: blue;
}
h3 {
  font-family: 'Permanent Marker', cursive;

}
</style>""")

# TD_08_1 - Etablir des schémas relationnels

Ce cours est une version "notebook" du cours proposé par Van Zuijlen Stéphan [ici](https://isn-icn-ljm.pagesperso-orange.fr/NSI-TLE/co/section_chapitre5.html)

## Le problème

Un laboratoire souhaite gérer les médicaments qu'il conçoit.
  
* Un médicament est décrit par **un nom**, qui permet de l'identifier. En effet ***il n'existe pas deux médicaments avec le même nom***.
  
* Un médicament comporte une **description courte** en français, ainsi qu'**une description longue** en latin.
  
* On gère aussi **le conditionnement** du médicament, c'est à dire le nombre de pilules par boîte (qui est un nombre entier).
  
À chaque médicament on associe une liste de contre-indications, généralement plusieurs, parfois aucune.
  
Une contre-indication comporte un code unique qui l'identifie, ainsi qu'une description.
  
Une contre-indication est toujours associée à un et un seul médicament.

## Exemples de données

Voici deux exemples de données :

* Le **Chourix** a pour description courte ***Médicament contre la chute des choux*** et pour description longue ***Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare.*** Il est conditionné en boîte de 13.
  Ses contre-indications sont :
  
  * CI1 : Ne jamais prendre après minuit.
  
  * CI2 : Ne jamais mettre en contact avec de l'eau.
  
* Le **Tropas** a pour description courte ***Médicament contre les dysfonctionnements intellectuels*** et pour description longue ***Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non.*** Il est conditionné en boîte de 42.
  Ses contre-indications sont :
  
  * CI3 : Garder à l'abri de la lumière du soleil.

### Exercice 1
1. Donner la représentation **sous forme de tables** des relations 'MEDICAMENT' et 'CONTRE_INDICATION'
2. Ecrire le schéma relationnel permettant de représenter une base de données pour ce laboratoire.

In [37]:
import pandas
pandas.read_csv("bd/medicaments.csv")

,Nom,Description_courte,Description_Longue,conditionnement
0,Chourix,Médicament contre la chute des choux,Vivamus fermentum semper porta. Nunc diam veli...,13
1,Tropas,Médicament contre les dysfonctionnements intel...,"Suspendisse lectus leo, consectetur in tempor ...",42

In [35]:
pandas.read_csv("bd/contre_indications.csv")

   NOM  NOM DU MEDICAMENT                                  DESCRIPTION
0  CI1            Chourix              Ne jamais prendre après minuit.
1  CI2            Chourix   Ne jamais mettre en contact avec de l'eau.
2  CI3             Tropas     Garder à l'abri de la lumière du soleil.

In [7]:
cacher_code("Solution 2.",for_markdown=True)

MEDICAMENT (<u>nom</u> :varchar, description:varchar, description_longue:varchar, conditionnement:number)

CONTRE_INDICATION( <u>code</u>:varchar, description:varchar, #id_med : number)

### Exercice 2
On veut créer une base de donnée permettant de gérer les clients d'un site web proposant des articles à vendre.

On utilisera 3 relations CLIENTS, COMMANDES et ARTICLES.

La table CLIENTS devra contenir les noms, prénoms, n° de téléphone et l'adresse des clients

La table ARTICLES devra contenir les codes des articles ,leurs noms, une description et le prix des articles

1. Que doit contenir la table COMMANDES ?
2. Quelle doit être la clé primaire de la relation CLIENTS ?
3. Quelle doit être la clé primaire de la relation ARTICLES ?
Voici une représentation dela table COMMANDES:
![commandes](table_commandes.png)
4. Quelles doivent être lesclés étrangères de la table COMMANDES ?
5. Donner la représentation sous forme de tables des relations CLIENTS, ARTICLES et COMMANDES en inventant au moins 3 clients, deux commandes et 4 articles ?
6. Réaliser un schéma pour représenter cette base de données relationnelle.

In [38]:
pandas.read_csv("bd/CLIENTS.csv")

   id        nom  prenom       n_tel        adresse
0   1  Delacroix  Pierre  1234567891  random adress
1   2  Delacroix  Pierre  1234567891  random adress
2   3  Delacroix  Pierre  1234567891  random adress

In [39]:
pandas.read_csv("bd/ARTICLES.csv")

  code     nom                  description   prix
0   c1   H2344   petite description article     54

In [40]:
pandas.read_csv("bd/COMMANDES.csv")

   numero   #id_client  #id_article   quantité
0    4564           12           c1          4

In [8]:
cacher_code("Solution 5.",for_markdown=True)

![exo2](exo2_cours8.png)

In [9]:
cacher_code("Solution 6.",for_markdown=True)

![bdd2](bdd3_cours8.png)