In [12]:
# Permet de tout executer au lancement du notebook + conserver le notebook actif pendant 2h
from IPython.display import Javascript
import sys
if ".." not in sys.path:
    sys.path.append("..")
from masquer import *
Javascript("""
function repeter(){
IPython.notebook.kernel.execute("a=1");
}
// execute a = 1 en python toutes les 8 minutes pendant 2h
let timerId = setInterval(() => repeter(), 4800);
setTimeout(() => { clearInterval(timerId); alert('fin de cession'); }, 7200000);

// Supprimer la taille limite pour la sortie d'une cellule
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
};
IPython.notebook.kernel.execute("url = '" + window.location + "'");

// Exécuter toutes les cellule du notebook
    require(
        ['base/js/namespace', 'jquery'], 
        function(jupyter, $) {
            
                
                jupyter.actions.call('jupyter-notebook:run-all-cells-below');
                jupyter.actions.call('jupyter-notebook:save-notebook');
                Jupyter.actions.call('jupyter-notebook:hide-header')

        }
    );""")

In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
HTML("""<style>
h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: red;
  
}
ol {
  list-style-position: inside;
  margin-left: 1em;
  list-style-position: outside;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  color: blue;
}
h3 {
  font-family: 'Permanent Marker', cursive;

}
</style>""")

# TD_08_2 - Le langage SQL

Ce cours est une version "notebook" du cours proposé par Van Zuijlen Stéphan [ici](https://isn-icn-ljm.pagesperso-orange.fr/NSI-TLE/co/section_chapitre5.html)

Nous avons défini les contours d'une base de données relationnelle, nous allons maintenant apprendre à interroger une base de données.

Nous utiliserons à titre d'exemple la base de données MONDIAL.

Il s'agit d'une **BDR** qui compile un certain nombre de données géographiques et qui est gérée par l'université de Göttingen.

Il est possible d'interagir avec elle en utilisant un formulaire que l'on trouve à l'adresse : http://www.semwebtech.org/sqlfrontend/

Nous sommes en présence d'une architecture trois tiers : la première couche (le client) est représentée en HTML pour être exploitée par un navigateur web et sert d'interface entre l'homme et la machine. La seconde couche (le serveur d'application) est un serveur web qui reçoit des données textuelles de la part du client, les transmet sous la forme de requêtes SQL au serveur de la base puis actualise la page web du client pour y intégrer la réponse du serveur. Enfin, la troisième couche est un SGBD, ici Oracle Database, qui gère la base de données et répond aux sollicitations du serveur d'application.

### Obtenir la liste des tables

Nous allons écrire une requête qui affichera la liste des tables accessible par un utilisateur de cette BDR.

```SQL
SELECT table_name FROM user_tables;
```

Les mots-clés SELECT ... FROM réalisent l'interrogation.

### Exercice 1
1. Testez cette requête. Combien de noms d etables obtenez vous ?

### Obtenir la description d'une table

La requête suivante permet d'afficher les attributs et leurs domaines.

On considère la table COUNTRY

```SQL
DESC COUNTRY;
```
L'attribut NULLABLE ( Yes ou No) permet de définir si lors de l'enregistrement, l'information est obligatoire ou pas.

### Exercice 2
1. Tester cette requête et expliquer l'affichage obtenu.

### Exploration d'une table

On considère la table COUNTRY dont les attributs sont NAME , CODE, CAPITAL, PROVINCE, AREA et POPULATION.

Commençons par extraire de cette table le nom de tous les pays qu'elle contient :

```SQL
SELECT name FROM country;
```

#### Rq:
la requête suivante produit le même effet :
```SQL
SELECT NAME FROM COUNTRY;
```
Les mots-clés SELECT ... FROM réalisent l'interrogation de la table. Dans le cas de l'exemple ci-dessus on ne liste qu'un seul des attributs de la table, pour en avoir plusieurs on sépare les attributs par une virgule.
```SQL
SELECT name , capital FROM country;
```

Pour les avoir tous on les désigne par une étoile.

```SQL
SELECT * FROM country
```

### Exercice 3
1. Tester différentes requêtes

### Filtrage des données

Si par exemple on souhaite afficher la capitale du Kiribati, on utilisera le mot-clé WHERE qui permet de filtrer les données qui répondent à un critère de sélection :
```SQL
SELECT capital FROM country WHERE name = 'Kiribati';
```

### Exercice 4
1. Vérifier que la capitale du Kiribati est Tarawa

Il se peut que certains attributs d'un enregistrement soient manquants ; dans ce cas la valeur de cet attribut est NULL.

Par exemple, dans la table country un territoire ne possède pas de capitale ; pour le connaître on produit la requête :
```SQL
SELECT name FROM country WHERE capital IS NULL;
```

### Exercice 5
1. Vérifier que ce pays est Gaza Strip
2. Que produit la requête ci-dessous
```SQL
SELECT name, population FROM country WHERE population < 1000000;
```

Les conditions utilisables :

    = (égal)

    <> (pas égal)

    != (pas égal)

    > (supérieur)

    < (inférieur)

    >=

    <=

    IS NULL ( valeur nulle - sans valeur)

    IS NOT NULL

On peut également trier les résultats obtenus, la requête suivante trie les résultat par ordre croissant des noms :
```SQL
SELECT name FROM country ORDER BY name ASC;
```

Celle-ci trie la liste par ordre décroissant des noms :

```SQL
SELECT name FROM country ORDER BY name DESC;
```

### Exercice 6:
1. Que produit la requête suivante ?
```SQL
SELECT name,population FROM country ORDER BY population DESC;
```
2. Rédiger une requête SQL pour obtenir :
    * la liste des pays dont la population excède 60 000 000 d'habitants
    * la même liste triée par ordre alphabétique
    * la liste des pays et de leurs populations respectives, triée par ordre décroissant de leur superficie
    * la liste des pays ayant moins de 10 habitants au km²